.search-form {
  display: flex;
  justify-content: center;
  max-width: 552px;
  margin-top: 34px;
}

.search-form label,
.search-form input,
.search-form {
  width: 100%;
}

.search-form input {
  padding: 20px 30px;
  font-size: var(--fs-sl);
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-medium);
  color: var(--very-dark-gray);
  border: none;
  border-radius: 12px 0 0 12px;
}

.search-form button {
  background-color: var(--black);
  padding: 0 22px;
  flex-shrink: 0;
  border-radius: 0 12px 12px 0;
  transition: all 0.3s;
}

.search-form button:hover {
  opacity: 0.8;
}
