.search-details {
  background-color: var(--white);
  padding: 28px;
  border-radius: 12px;
  margin-top: 22px;
  max-width: 1110px;
  width: 100%;
  box-shadow: var(--box-shadow);
  z-index: 500;
}

.search-details__item,
.search-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-details__item {
  flex: 1 0;
}

.search-details__item h3 {
  font-size: calc(var(--fs-ss) - 3px);
  color: var(--dark-gray);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.search-details__item:not(:last-child) {
  margin-bottom: 18px;
}

.search-details__item span {
  font-weight: var(--fw-bold);
  color: var(--very-dark-gray);
}

@media screen and (min-width: 768px) {
  .search-details {
    flex-direction: row;
    align-items: stretch;
    padding: 36px 30px;
  }

  .search-details__item {
    align-items: flex-start;
  }

  .search-details__item:not(:first-child) {
    padding-left: 32px;
  }

  .search-details__item:not(:last-child) {
    margin-bottom: 0;
    border-right: 1px solid var(--dark-gray);
  }
}

@media screen and (min-width: 1280px) {
  .search-details__item h3 {
    font-size: calc(var(--fs-ss));
  }

  .search-details__item span {
    font-size: calc(var(--fs-sl));
  }
}
